<!DOCTYPE html>
<html lang="es" dir="LTR">

    <head>
        <title>New user</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    </head>
    <body>
        <h1> Users</h1>
        {% for post in posts %}
            <p> id: {{ post.id }}</p>
            <p> id: {{ post.title }}</p>
            <p> id: {{ post.body }}</p>
            <p> name: {{ post.user.name }}</p>
            <p> email: {{ post.user.email }}</p>
        {% endfor %}
    </body>
</html>
